<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Refus de la commande #{id}

  body
    h1 Refus de la commande #{id}
    br
    br
    
    p Votre commande a été refusée. Merci de bien vouloir contacter le service client pour plus d'information
